h3.score {
  margin: 0.5rem 0;
}
.tab-pane {
  padding: 1rem;
  background-color: #fff;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  height: 40rem;
  overflow-y: auto;
}
h3.page-header.game-header {
  margin-top: 0;
}
.panel {
    margin-bottom: 0;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #ddd;
}



/* Responsive Styles */
.fa {
	display: none;
}
@media (min-width: 400px) {
	.fa {
		display: inline-block;
	}
}