a,
[ng-click] {
  cursor: pointer;
}
.cursor-help {
  cursor: help;
}
body {
  background-color: #333;
}
.app-login-panel {
  margin-top: 20px;
  text-align: center;
}
input.app-center-input {
  text-align: center;
}
.color-white {
  color: #fff;
}