body {
  //font-family: "Lato", sans-serif;
}
.nav-user-img {
  width: 18px;
  height: 18px;
  margin: -3px 5px 0 0;
}
.navbar {
  margin: 0;
}
.navbar-inverse .navbar-brand {
  color: #fff;
  font-weight: bold;
}
.user-menu-dropdown {
  min-width: 194px;
  min-width: 19.4rem;
}
.page-header {
  margin-top: 30px;
}