/* ng-cloak */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
/* cursor: pointer */
[ng-click] {
  cursor: pointer;
}
textarea.output {
  transition: 0.2s;
}
.alert {
  opacity: 0;
  transition: 0.2s;
}
.alert.show-alert {
  opacity: 1;
}
.output-alert {
  position: absolute;
  bottom: 0;
  margin: 0;
}
.form-group {
  position: relative;
}
.col-input .form-group,
.col-output .form-group {
  margin: 0;
}
.well {
  margin: 0;
}