<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>DWars</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body ng-app="DopeWars">
    <div class="container" ng-controller="MainCtrl">
      <h1 class="page-header">DWars</h1>
      <div class="row">
        <div class="col-sm-8 col-sm-push-4 col-md-push-3 col-md-9">
          <h3 class="display-location-header">
            <span class="text-muted">Current Location:</span> <strong>Brooklyn</strong>
          </h3>
          <div class="panel panel-default">
            <div class="panel-body">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th width="80">Price</th>
                    <th width="120">&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="drug in gameData.player.drugs">
                    <td>{{drug.name}}</td>
                    <td>{{drug.price | currency:undefined:0}}</td>
                    <td>
                      <button class="btn btn-xs btn-primary" ng-disabled="drug.price > gameData.player.money || gameData.player.inventory.max === gameData.player.inventory.current" ng-click="buyDrugModal($index)">Buy</button>
                      <button class="btn btn-xs btn-success" ng-disabled="drug.units === 0" ng-click="sellDrugModal($index)">Sell</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <p>
            <button class="btn btn-lg btn-primary" ng-click="travelModal()"><span class="fa fa-plane"></span>&nbsp;Travel</button>
            <button class="btn btn-lg btn-default" ng-click="reload()"><span class="fa fa-refresh"></span>&nbsp;Reload Prices</button>
          </p><br/>
        </div>
        <div class="col-sm-4 col-sm-pull-8 col-md-3 col-md-pull-9 display-sidebar">
          <div class="panel panel-default">
            <div class="panel-heading">
              <span class="fa fa-user fa-fw"></span>&nbsp;Player
            </div>
            <div class="panel-body">
              <h4 class="display-name">{{gameData.player.name}}</h4>
              <h4 class="display-money text-success">{{gameData.player.money | currency:undefined:0}}</h4>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <span class="fa fa-th fa-fw"></span>&nbsp;Inventory&nbsp;<small class="text-muted">({{gameData.player.inventory.current}}/{{gameData.player.inventory.max}})</small>
              </h4>
            </div>
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="drug in gameData.player.drugs">
                <span class="badge">{{drug.units}}</span>
                <span>{{drug.name}}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      
      <!-- Buy Drug Modal -->
      <div class="modal fade" id="buyDrugModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Buy <strong>{{buyDrugName}}</strong></h4>
            </div>
            <div class="modal-body">
              <p>Select the amount of <strong>{{buyDrugName}}</strong> units you would like to buy.</p>
              <div class="well well-sm">
                <select class="form-control" ng-model="buySelectedUnits" ng-options="unit for unit in buyUnits">
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-link" data-dismiss="modal"><span class="fa fa-times"></span>&nbsp;Cancel</button>
              <button type="button" class="btn btn-primary" ng-click="buyDrug()"><span class="fa fa-dollar"></span>&nbsp;Buy <strong>{{buyDrugName}}</strong></button>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Sell Drug Modal -->
      <div class="modal fade" id="sellDrugModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Sell <strong>{{sellDrugModalTitle}}</strong></h4>
            </div>
            <div class="modal-body">
              <p>Select the amount of <strong>{{sellDrugModalTitle}}</strong> units you would like to sell.</p>
              <div class="well well-sm">
                <select class="form-control" ng-model="sellSelectedUnits" ng-options="unit for unit in sellUnits">
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-link" data-dismiss="modal"><span class="fa fa-times"></span>&nbsp;Cancel</button>
              <button type="button" class="btn btn-primary" ng-click="sellDrug()"><span class="fa fa-dollar"></span>&nbsp;Sell <strong>{{sellDrugModalTitle}}</strong></button>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Travel Modal -->
      <div class="modal fade" id="travelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Travel <strong>{{sellDrugModalTitle}}</strong></h4>
            </div>
            <div class="modal-body">
              <p>Select the amount of <strong>{{sellDrugModalTitle}}</strong> units you would like to sell.</p>
              <div class="well well-sm">
                <select class="form-control" ng-model="sellSelectedUnits" ng-options="unit for unit in sellUnits">
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-link" data-dismiss="modal"><span class="fa fa-times"></span>&nbsp;Cancel</button>
              <button type="button" class="btn btn-primary" ng-click="sellDrug()"><span class="fa fa-dollar"></span>&nbsp;Travel to <strong>Tucson</strong></button>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <!-- /.container -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-animate.min.js"></script>
    <script src="app.js"></script>
  </body>

</html>
